# SPDX-FileCopyrightText: 2025-2026 Andrey Kotlyar <guitar0.app@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.python-version
env/
venv/
.venv/
.env.*
.tox
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log
.mypy_cache
.dmypy.json
.pytest_cache

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# PDM
.pdm-build/
.pdm-python

# ruff
.ruff_cache

# ansible
.ansible/
.vault_pass

# IDEs
.vscode
.idea
.vs

# other
.DS_Store
.reuse/dep5.cache
logs/
rest-client.env.json
